version: '3'

services:
  newarawebv2:
    image: ghcr.io/sparcs-kaist/new-ara-web-v2:latest
    environment:
      NODE_ENV: production
    expose:
      - "3000"  # 외부에 공개하지 않고 nginx에서 내부 접근
    networks:
      - webnet

  nginx:
    image: nginx:latest
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/localhost.crt:/etc/nginx/certs/localhost.crt:ro
      - ./nginx/localhost.key:/etc/nginx/certs/localhost.key:ro
    depends_on:
      - newarawebv2
    networks:
      - webnet

networks:
  webnet: