@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 900px) {
  .hide-below-900 {
    display: none !important;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  min-height: 100%;
}

/* Style for Text Editor */
.prose code {
  background-color: #f3f4f6; /* gray-100 */
  color: #ec4899;            /* pink-500 */
  border-radius: 0.25rem;
  padding: 0.15em 0.4em;
  font-size: 0.95em;
  font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
}

.dark .prose code {
  background-color: #23272e;
  color: #f472b6; /* pink-400 */
}

.editor-content p:first-child.is-empty::before {
  content: attr(data-empty-text);
  float: left;
  color: #aaa;
  pointer-events: none;
  height: 0;
  font-style: italic;
}

.editor-content img.ProseMirror-selectednode {
  filter: brightness(0.5);
}

.editor-content a {
  color: #00b8d4;
}
